<div class="center">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <input 
                    type="text"
                    autocomplete="off"
                    pInputText
                    formControlName="username"
                    placeholder="Username"
                    class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
            </tr>
            <tr></tr>
            <tr>
                <input 
                    type="text"
                    autocomplete="off"
                    pInputText
                    formControlName="password"
                    placeholder="Password"
                    class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
            </tr>
            <tr></tr>
            <tr>
                <button 
                    pButton 
                    type="button" 
                    label="Register"
                    [disabled]="invalidFormInputs()">
                </button>
            </tr>
        </table>
    </form>    
</div>

